server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: order-service
          uri: http://localhost:8083
          predicates:
            - Path=/order/**

        - id: product-service
          uri: http://localhost:8081
          predicates:
            - Path=/product/**

        - id: user-service
          uri: http://localhost:8082
          predicates:
              - Path=/users/**


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8671/eureka
